@layer utilities {
  .r-border {
    border: 1.5px solid #0a5348;
  }
  .r-banner-img {
    background-image: url("../assets/bg/Rectangle.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .r-about-banner-img {
    background-image: url("../assets/images/banner1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;

    @media screen and (max-width: 768px) {
      background-image: url("../assets/images/banner1_mobile.png");
      padding-bottom: 158px;
      background-size: auto;
    }
  }
}
